*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.container-flex{
    height: 69px;
    background-color: #255EE9;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 0 145px;

}

a{
    color: white;
    text-decoration: none;
    padding-right: 40px;
}

.nav3{
    width: 60px;
    margin: 17px 18px;
    padding: 9px 2px;
    background-color: white;
    border-radius: 16px;
    border: none;
}


