*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

/* nav */

nav{
    background-color: #255EE9;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.menu-top {
	height: 4em;
}

ul {
	display: flex;
	height: 100%;
}

li {
	list-style: none;
	display: flex;
	align-items: center;
}

 .menu-top .menu-link {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1em;
	margin: 0 .3em;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

.menu-top .logo {
	margin-right: auto;
}

.menu-top .accedi {
	margin-left: auto;
}

.btn {
	display: inline-block;
	padding: 0.7em 1em;
	border-radius: 10em;
	text-decoration: none;
}

.btn-white {
	background-color: white;
	color: black;
}
/* header */

.container-flex{
    height: 430px;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100% 75%;
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    color: white;
}

.header-item{
    margin-bottom: 20px;
    font-size: 54px;
}

.header-item1{
    text-align: center;
    line-height: 1.5rem;
}

.header-item2{
    margin-top: 1em;
}

.freccia{
    font-size: 150%;
    vertical-align: sub;
}

.btn2 {
	display: inline-block;
	padding: 1.1em 1em;
	border-radius: 10em;
	text-decoration: none;
    margin-left: 1em;
}

.btn-black {
	background-color: black;
	color: white;
}

/* main */

/* section */
.container-flex3{
    display: flex;
    justify-content: center;
    
}

.section-item{
    width: 678px;
    height: 430px;
}

.section-item1{
    width: 678px;
    height: 430px;
}

.section-testo{
    font-size: 48px;
    padding-top: 32px;
    padding-bottom: 30px;
    
}

.section-testo1{
    font-size: 19px;
   }

/* section */

.container-flex4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 60px;
  
}

.section-item2{
    width: 678px;
    height: 430px;
    margin-left: 30px;
}

.section-item3{
    width: 678px;
    height: 430px;
}


.section-testo{
    font-size: 48px;
    padding-top: 32px;
    padding-bottom: 30px;
    }

.section-testo1{
    font-size: 19px;
}
